<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Buddler.</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body > 
   
        <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" ><strong style="">Buddler.</strong> </a>
            </div>
            
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">
                    <% if user_signed_in? %>

                        <li><%= link_to current_user.email, edit_user_registration_path %></li>
                        <li><%= link_to "Logout", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></li>
                         <li><%= link_to "Update Status", new_post_path %></li>
                    <% else %>
                        <li><%= link_to "Sign Up", new_user_registration_path %> </li>
                        <li><%= link_to "Sign In", new_user_session_path %> </li>
                    <% end %>
                  
                </ul>
            </div>

        </div>
    </div>
    <!--MENU SECTION END-->
    <div class="container">

        <%= yield %>        
    </div>
    <!--HOME SECTION END-->
     <section id="search-domain" >
        <div class="container">
            <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control input-cls"/>
        </div>
                <div class="col-md-4">
                    <input type="button" class="btnsearch"  value="SEARCH A BUDDY" />
                </div>
            </div>
        </div>
    </section>

        

<!--SEARCH SECTION END-->
</body>
</html>