<html>
<head>

<link href="assets/css/devise.css" rel="stylesheet" />

</head>
<center>  
</br></br>
<div class="form">
<h1>Buddler.</h1></br>
<h2></h2>
<body>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => 'E-mail Address', :class => "field" %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => "field" %>
  <% if devise_mapping.rememberable? -%>
  </div>
  <div class="fieldrem">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>

<% end %>
</body>
</html>
<%= render "devise/shared/links" %>