<% @posts.each do |post| %>
<center>
 <div class="col-md-4">

 <div class="post">
 <h2 class="status"><%= post.status %></h2>
 <%= link_to "View Comments", post_path(post), class: "btn-viewcomment" %> 
 </div>
  </div>
  
<% end %>